@media (min-width: 768px) {
	.header {
		.wrapper {
			.hamburger {
				display: none;
			}

			.nav {
				position: static;
				flex-direction: row;
				justify-content: flex-end;
				height: auto;
				width: fit-content;
				z-index: 1;

				&__menu {
					display: flex;
					align-items: center;

					&-item {
						&-link {
							padding-left: 1.25em;
							padding-right: 1.25em;
							height: 80px;
							font-size: 1.7rem;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
