@use "colors" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.block-scroll {
	overflow-y: hidden;
}

.header-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: $bg-color;
	transition: box-shadow 0.3s;
	z-index: 999;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		height: 100%;
		z-index: 999;

		.logo {
			img {
				width: 100px;
			}
		}

		.nav {
			position: absolute;
			top: 80px;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 0;
			width: 100%;
			background-color: $bg-color;
			transition: height 0.3s ease-in;
			overflow: hidden;
			z-index: 999;

			&__menu {
				text-align: center;
				list-style-type: none;

				&-item {
					&-link {
						display: block;
						padding: 1.75em 0;
						font-family: "Slabo 13px", sans-serif;
						color: $dark;
						text-decoration: none;
						transition: color 0.3s;

						&:hover {
							color: $dark-hover;
						}
					}
				}
			}
		}

		.show-nav {
			height: 350px;
		}

		.nav-items-animation {
			animation: navItemsAnimation 1s both;
			transition: opacity 0.3s ease-in-out, transform 0.3s;
		}

		.navigation-shadow {
			box-shadow: 0px 3px 2px rgba(183, 183, 183, 0.4);
		}
	}
}

.main {
	.section {
		padding: 3em 1em;
	}

	.main-heading,
	.heading-addition {
		text-align: center;
	}

	.main-heading {
		font-family: "Slabo 13px", sans-serif;
		font-size: 3.5rem;
		color: $dark;
		font-weight: 400;
	}

	.heading-addition {
		margin-top: 1em;
		font-family: "Montserrat", sans-serif;
		font-size: 1.8rem;
	}

	.section-title,
	.section-title-addition {
		color: $bg-color;
		text-align: center;
	}

	.section-title {
		margin-top: 0.3em;
		font-family: "Slabo 13px", sans-serif;
		font-size: 2.8rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	.section-title-addition {
		font-family: "Montserrat", sans-serif;
	}

	.cta-button {
		margin-top: 2.5em;
		padding: 0.6em 0;
		width: 180px;
		font-family: "Slabo 13px", sans-serif;
		font-size: 1.8rem;
		background-color: $bg-color;
		border: 1px solid black;
		transition: border 0.3s, background-color 0.3s, color 0.3s;
		cursor: pointer;

		&:hover {
			border: 1px solid $bg-color;
			background-color: $dark;
			color: $bg-color;
		}
	}

	.welcome-section {
		position: relative;
		display: flex;
		align-items: center;
		padding: 3em 4em;
		width: 100%;
		height: 100svh;

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;

			.text-box {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.image-box {
				position: relative;
				display: none;
				margin-top: 7em;
				width: 100%;
				height: 400px;

				.swiper {
					width: 100%;
					height: 100%;
				}

				.swiper-slide {
					text-align: center;
					font-size: 18px;
					background: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.swiper-slide img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.swiper-slide {
					width: 60%;
					background-position: center;
					background-size: cover;
					cursor: pointer;
				}

				.swiper-slide:nth-child(1) {
					width: 50%;
					background-image: url("../img/img1.webp");
				}

				.swiper-slide:nth-child(2) {
					width: 70%;
					background-image: url("../img/img3.webp");
				}

				.swiper-slide:nth-child(3) {
					width: 50%;
					background-image: url("../img/img2.webp");
				}

				.swiper-slide:nth-child(4) {
					width: 70%;
					background-image: url("../img/img4.webp");
				}

				.horizontal-swiper {
					display: none;
				}
			}

			.circle-arrow {
				position: absolute;
				bottom: 1.3em;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.5em;
				border: 2px solid $dark;
				border-radius: 50%;
				cursor: pointer;

				img {
					width: 35px;
					height: 35px;
				}
			}

			.bounce-in-top {
				-webkit-animation: bounce-in-top 2s cubic-bezier(0.075, 0.82, 0.165, 1)
					infinite alternate forwards;
				animation: bounce-in-top 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite
					alternate forwards;
			}
		}
	}

	.about-us {
		position: relative;
		background-color: $section-dark;

		.wrapper {
			.right-box {
				margin-top: 1.75em;

				&__paragraph {
					margin-top: 1.5em;
					font-family: "Montserrat", sans-serif;
					font-size: 1.6rem;
					line-height: 1.5;
					font-weight: 300;
					color: $bg-color;

					span {
						font-weight: 600;
					}
				}
			}
		}

		.decoration-one,
		.decoration-two {
			display: none;
			position: absolute;
			opacity: 0.02;
		}

		.decoration-one {
			top: 10%;
			left: 5%;
			width: 300px;
			height: 300px;
			transform: rotate(90deg);
		}

		.decoration-two {
			bottom: 5%;
			right: 5%;
			width: 250px;
			height: 250px;
		}
	}

	.offers {
		.section-title-addition,
		.section-title {
			color: $dark;
		}

		&-container {
			display: flex;
			flex-wrap: wrap;
			margin-top: 1em;

			&__box {
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-basis: 50%;
				margin-top: 1.5em;

				&-icon {
					width: 50px;
					height: 50px;
				}

				&-title {
					margin-top: 0.75em;
					font-family: "Montserrat", sans-serif;
					font-weight: 600;
					color: $dark;
					text-align: center;
				}
			}
		}
	}

	.questions {
		position: relative;
		background-image: url("../img/questions-hero.webp");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		.wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 1;
		}

		&-heading,
		&-description {
			font-family: "Montserrat", sans-serif;
			color: $bg-color;
			text-align: center;
		}

		&-heading {
			font-size: 2.5rem;
			font-weight: bold;
		}

		&-description {
			margin-top: 0.5em;
		}

		.cta-button {
			background-color: transparent;
			border: 1px solid $bg-color;
			color: $bg-color;
			transition: border 0.3s, background-color 0.3s, color 0.3s;

			&:hover {
				border: 1px solid $dark;
				background-color: $bg-color;
				color: $dark;
			}
		}

		&__shadow {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: 0;
		}
	}

	.gallery {
		.section-title,
		.section-title-addition {
			color: $dark;
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 auto;
			width: min(100%, 900px);
		}

		&__grid-one {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
			gap: 15px;
			margin-top: 2em;

			&-photo {
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&__grid-two {
			margin-top: 15px;
			align-self: stretch;

			&-photo {
				img {
					max-height: 500px;
					width: 100%;
				}
			}
		}

		&__grid-three {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
			margin-top: 10px;
			gap: 15px;

			&-photo {
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		// &__box {
		// 	display: flex;
		// 	flex-direction: column;
		// 	gap: 15px;
		// 	margin-top: 1.5em;

		// 	&-column {
		// 		display: flex;
		// 		flex-direction: column;
		// 		gap: 15px;

		// 		&-photo {
		// 			img {
		// 				width: 100%;
		// 				height: 100%;
		// 				border-radius: 5px;
		// 				object-fit: cover;
		// 			}
		// 		}
		// 	}
		// }
	}

	.contact {
		background-color: $section-dark;
		font-family: "Montserrat", sans-serif;
		color: $bg-color;

		&__text-box {
			margin-top: 2em;

			h3 {
				margin-bottom: 0.5em;
				font-size: 2.2rem;
			}

			p {
				font-size: 1.7rem;
				line-height: 1.5;

				span {
					font-weight: bold;
				}
			}

			p:nth-child(3) {
				margin-bottom: 1em;
			}

			p:nth-child(5) {
				margin-bottom: 1em;
			}
		}

		&__map-box {
			display: flex;
			justify-content: center;
			margin-top: 1.5em;

			iframe {
				width: 100%;
				height: 350px;
			}
		}
	}
}

.fast-links {
	display: none;
	padding: 2em 0;
	background-color: $footer-dark;
	border-bottom: 1px solid $bg-color;
	text-align: center;

	a {
		margin: 0 1em;
		padding: 1em;
		font-family: "Montserrat", sans-serif;
		font-size: 1.7rem;
		color: $bg-color;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: rgb(147, 147, 147);
		}
	}
}

.footer {
	padding: 1em;
	font-family: "Montserrat", sans-serif;
	color: $bg-color;
	background-color: $footer-dark;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 1em;

		&-company {
			font-size: 1.7rem;
		}

		&-socials {
			display: flex;
			align-items: center;

			&-icon {
				width: 30px;
				height: 30px;

				&--instagram {
					margin-left: 0.75em;
					width: 35px;
					height: 35px;
				}
			}
		}
	}

	&__author {
		padding-top: 1em;
		border-top: 1px solid rgb(83, 83, 83);

		&-name {
			font-size: 1.3rem;
			text-align: center;

			a {
				text-decoration: underline;
				color: $bg-color;
			}
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-9 13:52:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-25px);
		transform: translateY(-25px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-25px);
		transform: translateY(-25px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
