@use "colors" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.block-scroll {
	overflow-y: hidden;
}

.header-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: $bg-color;
	transition: box-shadow 0.3s;
	z-index: 999;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		height: 100%;
		z-index: 999;

		.logo {
			img {
				width: 100px;
			}
		}

		.nav {
			position: absolute;
			top: 80px;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 0;
			width: 100%;
			background-color: $bg-color;
			transition: height 0.3s ease-in;
			overflow: hidden;
			z-index: 999;

			&__menu {
				text-align: center;
				list-style-type: none;

				&-item {
					&-link {
						display: block;
						padding: 1.75em 0;
						font-family: "Slabo 13px", sans-serif;
						color: $dark;
						text-decoration: none;
						transition: color 0.3s;

						&:hover {
							color: $dark-hover;
						}
					}
				}
			}
		}

		.show-nav {
			height: 350px;
		}

		.nav-items-animation {
			animation: navItemsAnimation 1s both;
			transition: opacity 0.3s ease-in-out, transform 0.3s;
		}

		.navigation-shadow {
			box-shadow: 0px 3px 2px rgba(183, 183, 183, 0.4);
		}
	}
}

.main {
	.section {
		padding: 3em 1em;
	}

	.main-heading,
	.heading-addition {
		text-align: center;
	}

	.main-heading {
		font-family: "Slabo 13px", sans-serif;
		font-size: 3.5rem;
		color: $dark;
		font-weight: 400;
	}

	.heading-addition {
		margin-top: 1em;
		font-family: "Montserrat", sans-serif;
		font-size: 1.8rem;
	}

	.cta-button {
		margin-top: 2.5em;
		padding: 0.6em 0;
		width: 180px;
		font-family: "Slabo 13px", sans-serif;
		font-size: 1.8rem;
		background-color: $bg-color;
		border: 1px solid black;
		cursor: pointer;
	}

	.welcome-section {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100svh;
		// background-color: rgb(147, 251, 251);

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
